
@{
    ViewData["Title"] = "Page Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="error-area ptb-100">
	<div class="container">
		<div class="error-content">
			<img src="~/pify/assets/images/404.png" alt="Image">

			<a asp-area="" asp-controller="Home" asp-action="Index" class="default-btn">
				Go To Home
			</a>
		</div>
	</div>
</div>

