<div class="footer-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget style-two">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/pify/assets/images/logo.png" alt="Image">
                    </a>

                    <p>
                        Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                        Vivamus suscipit tortor eget felis porttitor volutpat. Pellentesque in ipsum id orci porta dapibus.
                    </p>
                </div>
            </div>

            <div class="col-lg-2 col-sm-6">
                <div class="single-footer-widget style-two ml-15">
                    <h3>Company</h3>

                    <ul class="import-link">
                        <li>
                            <a>About us</a>
                        </li>
                        <li>
                            <a>Contact us</a>
                        </li>
                        <li>
                            <a>Blog</a>
                        </li>
                        <li>
                            <a>User</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-sm-6">
                <div class="single-footer-widget style-two">
                    <h3>Explore</h3>

                    <ul class="import-link">
                        <li>
                            <a asp-area="MyProfile" asp-controller="Post" asp-action="Create">Ask question</a>
                        </li>
                        <li>
                            <a>FAQs</a>
                        </li>
                        <li>
                            <a>Privacy policy</a>
                        </li>
                        <li>
                            <a>Terms & Conditions</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-sm-6">
                <div class="single-footer-widget style-two">
                    <h3>Follow us</h3>

                    <ul class="import-link">
                        <li>
                            <a target="_blank">Facebook</a>
                        </li>
                        <li>
                            <a arget="_blank">Instagram</a>
                        </li>
                        <li>
                            <a target="_blank">Linkedin</a>
                        </li>
                        <li>
                            <a target="_blank">Twitter</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget style-two">
                    <h3>Contact Us</h3>

                    <ul class="address-link">
                        <li>
                            <span>Call:</span>
                            <a href="tel:+1-719-504-1984">+1 719-504-1984</a>
                        </li>
                        <li>
                            <span>Email:</span>
                            <a>demoemail@gmail.com</a>
                        </li>
                        <li>
                            <span>Address:</span>
                            7200 E Dry Creek Rd C104, Centennial, CO 80112, United States
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-shape">
        <img src="~/pify/assets/images/footer-shape.png" alt="Image">
    </div>
</div>

<!-- End Copyright Area -->
<div class="copy-right-area">
    <div class="container">
        <div class="copy-right-content">
            <div class="row">
                <div class="col-lg-6 col-md-8">
                    <p>
                        Crafted with 🧡 by
                        <a href="https://www.linkedin.com/in/saipoojith/" target="_blank">Sriya.</a>
                        Theme by 
                        a href="https://envytheme.com/" target="_blank">EnvyTheme</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Copyright Area -->