@model UpdateCommentModel
@{
    ViewData["Title"] = "UpdateComment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
	<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
}

<div class="offset-lg-1 col-lg-10 mb-5">
	<h1>Update Answer</h1>
</div>

<div class="offset-lg-1 col-lg-10">
	<div class="middull-content">

		<div class="question-details-area">

			<form class="your-answer-form" method="post" asp-antiforgery="true"
				  asp-area="" asp-controller="Home" asp-action="UpdateComment">
					<div asp-validation-summary="All" class="text-danger"></div>
					<input type="hidden" name="PostId" value="@Model.PostId" />
				<div class="form-group">
					<h3>Your Answer</h3>
				</div>
				<input type="hidden" asp-for="Id" />
				<div class="form-group">
					<label asp-for="Description">Write your answer here.</label>
						<textarea asp-for="Description" id="summernote" maxlength="1500"></textarea>
				</div>
				<div class="form-group">
					<button type="submit" class="default-btn">Update Your Answer</button>
				</div>
			</form>
		</div>
	</div>
</div>

@section Scripts
{
	<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

	<script>
		$(document).ready(function () {
			$('#summernote').summernote({
                height: 250,
			});
			$('.dropdown-toggle').dropdown();
		});
	</script>
}

