@model RegisterModel
@{
	ViewData["Title"] = "Register";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="user-form needs-validation" novalidate asp-area="" asp-controller="Account" asp-action="Register"
	  asp-antiforgery="true" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
	<div class="row">
		<h2 class="text-center">@ViewData["Title"]</h2>
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="col-12">
			<div class="form-group">
				<label asp-for="DisplayName" class="form-label" for="displayNameValidation">Display Name</label>
				<input asp-for="DisplayName" class="form-control" type="text" 
				autocomplete="username" id="displayNameValidation" minlength="1" maxlength="50" required>
				<div class="invalid-feedback">
					Display Name should be within 1 to 20 characters long.
				</div>
			</div>				
		</div>

		<div class="col-12">
			<div class="form-group">
				<label asp-for="Email" class="form-label" for="emailValidation">Email</label>
				<input asp-for="Email" class="form-control" type="email" id="emailValidation" required>
			</div>
			<div class="invalid-feedback">
				Invalid Email address!
			</div>
		</div>

		<div class="col-12">
			<div class="form-group">
				<label asp-for="Password" class="form-label" for="passwordValidation">Password</label>
				<input asp-for="Password" class="form-control" 
				type="password" id="passwordValidation" minlength="6" maxlength="16" required>
				<div class="invalid-feedback">
					Password should be within 6 to 16 characters long. Use strong password.
				</div>
			</div>				
		</div>

		<div class="col-12">
			<div class="form-group">
				<label asp-for="ConfirmPassword" class="form-label" for="confirmPasswordValidation">Confirm Password</label>
				<input asp-for="ConfirmPassword" class="form-control"
				type="password" id="confirmPasswordValidation" minlength="6" maxlength="16" required>
				<div class="invalid-feedback">
					Password should be within 6 to 16 characters long. Use strong password.
				</div>
			</div>				
		</div>

		<div class="col-12">
			<button class="default-btn" id="registerSubmit" type="submit">
				Register
			</button>
		</div>

		<div class="col-12">
			<p class="create">
				Already have an account?
				<a asp-area="" asp-controller="Account" asp-action="Login">Login</a>
			</p>
		</div>
	</div>
</form>

@section Scripts
{
	<script src="~/pify/assets/js/disableFormSubmission.js"></script>
	<partial name="_ValidationScriptsPartial" />
}